.btn {
  margin: 3px 11px 2px 11px;
}

.StuffCard {
  font-family: 'Barriecito', cursive;
  margin: 7px;
  color: black;
  border: 2px dotted black;
  border-radius: 16px;
  background-color: white;
}

.spanSub {
  font-size: 18px;
}