body {
  background-size: cover;
  background-image: url(http://www.hoobacanoes.com/uploads/2/4/0/0/24007665/cathoarder2_orig.png);
  font-family: 'Barriecito', cursive;
  color: white;
  text-shadow: 1px 1px 1px red;
}

html {
  margin: 0;
}

.home-box {
  background-color: white;
  color: black;
  padding: 22px;
  border: 2px solid black;
  font-size: 36px;
  border-radius: 13px;
}